/* Cabeçalho */

nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 200pxpx;
    background-color: black;
}
 
.logo {
    width: 150px;
    height: 130px;
}
.cabeça {
    background-color: aliceblue;
    padding: 15px;
}

