body {
    height: 3000px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;

}

/* Cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

.logo {
    width: 120px;
    height: 100px;
    margin-left: 50px;
}

.navbar a {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    color: white;
    margin-right: 100px;
}

/* home */
selection {
    padding: 2rem 9%;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(up.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 50rem;
}

.home .content h3 {
    font-size: 6rem;
    color: white;
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.home .content span {
    font-size: 3.5rem;
    color: white;
    padding: 1rem 0;
    line-height: 1, 5;

}

#Para {
    color: #E57324;
}

/* anuncio */
 .FundoAmarelo {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #FFF299;
    width: 90vw;
    margin-top: 50px;
    border-radius: 10px;
 }
 .FundoBranco {
    display: flex;
    justify-content: center;
 }

 .TextoAnuncio {
    width: 300px;
    font-size: xx-large;
    text-align: right;

 }

 .Saiba {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;


 }
 .Saiba:hover{
    background-color: white;
    color: red;
    transition: 0.3s;
 }

 /* Destaques */
 .Destaques {
    background-color:#D9D9D9;
    text-align: center;
    font-size: x-large;
    height: 10px;
    justify-content: center;
    align-items: center;


 }
 h1 {
    position: absolute;
    text-align: center;
    left: 40vw;
    top: 1220px;
 }


/* cardapio */

 .Conjunto {
   
    justify-content:space-around;
    align-items:center;
    background: url(fundo\ marmore.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
   
 }

 .ImagemComida1 {
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 50px;
    margin-left: 110px;

    
 }

 
 .Conjunto2 {
   
    justify-content:space-around;
   
    background: url(fundo\ marmore.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
   
 }

 .ImagemComida2 {
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 50px;
    margin-left: 110px;
        
 }


 